// src/components/RoomList.scss
@import "@/styles/variables.scss";
// src/components/RoomList.scss
.room-list {
  .mb-4 {
    text-align: center;
    color: $black-secondary;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card {
    border: none;
    border-radius: .5rem;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-0.3125rem);
    }

    .card-body {
      padding: .9375rem;

      .card-title {
        font-size: 1.25rem;
        margin-bottom: .625rem;
        color: $black-secondary-2;
      }

      .card-text {
        margin-bottom: .5rem;
        font-size: 0.95rem;

        strong {
          color: $black-secondary-2;
        }
      }
    }
  }

  .text-danger,
  .text-muted {
    margin: .625rem 0;
  }
}