@import "@/styles/variables.scss";
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
    gap: 0.5rem;
  padding: 1.25rem;

  .login-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%; 
      max-height: 25rem; 
      height: auto;
      border-radius: .625rem;
      object-fit: contain; 
    }
  }

  .login-form-container {
    flex: 1;
    max-width: 25rem;
    background: $white;
    padding: 1.25rem;
    border-radius: .625rem;
    box-shadow: 0px 0rem .625rem rgba(0, 0, 0, 0.1);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      text-align: center;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    button {
      width: 100%;
    }
  }
}

// 📌 Pour rendre l'affichage responsive sur mobile
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    text-align: center;
  }

  .login-image img {
    max-width: 60%;
    max-height: 15.625rem;
  }
}